p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.em;
}

h1{
    font-family:sans-serif;
    color: #242423;
}

h2{
    color:darkorchid;
}

h3{
    color:darkmagenta;
}



section article:nth-of-type(1) p:nth-of-type(2){
    text-transform:lowercase;
    color:cadetblue;
}
section article ul li{
    color: cornflowerblue;
}

.formulario{
    color:darkslateblue;
    font-style: oblique;
}
.btn-dark{
    background-color: #6910a8;
 }